*{
    margin: 0;
    padding: 0;
}
/* header */
p b{
    background-color: red;
    font-size: 15px;
}
p strong{
   background-color: blue; 
}
p sub{
    background-color: red;  
}
p sup{
    background-color: green;
}